@media (max-width: 300px) {
.about {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}
.mathlinks{
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding-left: 5px;
  padding-right: 5px;
  gap: 20px;
}


.aboutBottom p {
  width: 1200px;
}


.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.close-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
}
}
