.contact {
  width: auto;
  height: auto;
  display: flex;
  
}
.title {
  align-items: center;
  color: white;
  font-weight: bold;
}

.row-container {
  display: flex; 
  width: 100%; 
  flex-direction: column; 
}
